
.App {
  text-align: center;
}

.UserContainer {
  margin: 1%;
  padding: 1%;
  background-color: #dfdfdf;
  float: left;
}

.Avatar {
  border-radius: 50%;
}

/* .............................................................. */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  padding: 1%;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.ModalTitle {
  padding: 1%;
  text-align: left;
  font-weight: bold;
  font-size: larger;
}

.UserForm {
  /* margin: 1%; */
  display: flex;
  flex-direction: column;
}

.FormField {
  float: left;
  padding: 1%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Input {
  border-radius: 20px;
  border: none;
  /* border: 1px solid #2d9fd9; */
  /* color: #a0d18c; */
  background-color: #9b9b9b;
  width: 250px;
  height: 30px;
  padding-left: 10px;
}

.Input:focus {
  border-radius: 20px;
  outline: none;
  border: none;
  padding-left: 10px;
}

.SubmitButton {
  border-radius: 20px;
  border: none;
  font-size: large;
  padding: 10px;
  margin-right: 10px;
  background-color: #74e324;
}

.CancelButton {
  border-radius: 20px;
  border: none;
  font-size: large;
  padding: 10px;
  margin-right: 10px;
  background-color: #e57022;
}

/* .............................................................. */

.LastName {
  font-weight: bold;
  font-size: large;
}

.Email {
  font-size: small;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
